<%= link_to 'Logout', logout_path, method: :delete %>
<h2>My Links</h2><br>
<hr>

<div class='new-link-form'>
  <%= render partial: 'form' %>
</div>
<br>

<div class='links-list'>
  <% @links.each do |link| %>
    <%= render partial: 'show', locals: {link: link} %>
  <% end %>
</div>